@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');


body{
	margin: 0;
	background-image: url('image/bamboo2.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

ul{
	list-style: none;
}

header{
	background-color: #8C6746;
	color:white;
	font-family: 'Fjalla One', sans-serif;
	font-size:20px;
	border-bottom:2px solid #664B33;
	position: fixed;
	width: 100%;
	max-height: 20%;
}

header a:link{
	color:white;
	text-decoration: none;
}

header a:visited{
	color: white;
	text-decoration: none;
}

header a:hover{
	border-top: 2px solid #664B33;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #664B33;
}

.accueilHeader{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 50%;
}

header img{
	width: 15%;
	height: 5%;
	margin-left: 0.5%;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}


#sousmenuul{
	display: none;
}
#sousmenu:hover #sousmenuul{
	display: block;
	position: absolute;
	right: 49%;
	background-color: #8C6746;
	padding: 1%;
	top: 30%;
}
#sousmenuul:hover{
	display: block;
}

.deroulantlien:hover{
	border-width: 0px;
}

footer{
	background-color: #8C6746;
	border-top:2px solid #664B33;
	width: 100%;

}

footer a:link{
	color:white;
	text-decoration: none;
}

footer a:visited{
	color: white;
	text-decoration: none;
}

footer a:hover{
	border-top: 2px solid #664B33;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #664B33;

}
.accueilFooter{
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	color:white;
	font-size: 20px;
	font-family: 'Fjalla One', sans-serif;
}

.footer1{
	margin-top: 15px;
}
.footer2{
	margin-top: 15px;
}
#ulFooter{
	margin-top: 0px ;
}

.logoFooter{
	
	width: 230px;
	height: 150px;
	margin-left: 35px;
	margin-top: 15px;
	margin-bottom: 10px;
}

.accueilSocial img{
	
	width: 50px;
	height: 50px;
	padding-left: 20px;
	
}

.accueilSocial{
	
	width: 25%;
	margin-right:-15%;
	padding-top:5%;
}

.footerSocial:hover{
	border:none;
	transform: scale(1.2);
}

.footerSocial img:hover{
	transform: scale(1.2);
}



 /*_______________PAUL PARTIE CONTACT______________________________________________________*/
  /*_____________________________________________________________________*/
   /*_____________________________________________________________________*/
    /*_____________________________________________________________________*/
     /*_____________________________________________________________________*/


form{
	background-color: #8C6746;
	width: 28%;
	padding-top: 2%;
	padding-bottom: 2%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border-radius: 35px;
	border:3px solid #664B33;
	font-family: 'Fjalla One', sans-serif;
	font-size: 18px;
	color: white;
}

form input{
	border-radius: 50px;
	border:2px solid black;
	padding:1.5%;
}
.buttonContact{
	transition: all 1s ease-out;
}

.buttonContact:hover{
	background-color: #739e78;
	font-size: 25px;
}

textarea{
	border-radius:25px;
	border:2px solid black;
	width: 90%;
	padding:1.5%;
}

.mainContacte{
	display: flex;
	flex-direction: column;
	align-items: center;
}

 /*_______________PAUL PARTIE ACCUEIL______________________________________________________*/
  /*_____________________________________________________________________*/
   /*_____________________________________________________________________*/
    /*_____________________________________________________________________*/
     /*_____________________________________________________________________*/

@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

#bodyAccueil{
	display: flex;
	flex-direction:column;
	align-items: center;
	width: 100%;
	background-image: url("image/bamboo22.jpg");
}

.accueilMain{
	background-image:linear-gradient(60deg, #d6eca3, #9cd51f);
	font-size: 25px;
	font-family: 'Kanit', sans-serif;
	border-right: 3px solid #807266;
	border-left:3px solid #807266;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 6%;
	text-align: center;
	width: 80%;
}

.accueilArticle{
	width: 90%;
}

.accueilSectionImages1{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 2%;
	padding-bottom: 2%;
}
.accueilSectionImages2{
	width: 50%;
	height:50%;
}
.accueilSectionImages3{
	width: 50%;
	height:50%;
}

.accueilArticle3{
	padding-bottom: 2%;
}

.accueilSectionImages4{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 100%;
}

.accueilArticle4{
	padding-bottom: 2%;
}

.accueilSectionImages7{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 2%;
	padding-bottom: 2%;
}

.accueilSectionImages8{
	width: 35%;
	height:85%;
}

.accueilSectionImages9{
	width: 35%;
	height:85%;
}

.lotushover3{
	width: 50%;
	height: 50%;
}

.lotushover2{
	display: block;
}
.lotushover3{
	display: none;
}

.lotushover1{
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lotushover1:hover .lotushover2{
	display: none;
}
.lotushover1:hover .lotushover3{
	display: block;
}

.anemonehover3{
	width: 50%;
	height: 50%;
}

.anemonehover2{
	display: block;
}
.anemonehover3{
	display: none;
}

.anemonehover1{
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.anemonehover1:hover .anemonehover2{
	display: none;
}
.anemonehover1:hover .anemonehover3{
	display: block;
}

.azeleahover3{
	width: 35%;
	height: 35%;
}

.azeleahover2{
	display: block;
}
.azeleahover3{
	display: none;
}

.azeleahover1{
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.azeleahover1:hover .azeleahover2{
	display: none;
}
.azeleahover1:hover .azeleahover3{
	display: block;
}

.azeleahover3{
	width: 500%;
}

.rosiernevadahover3{
	width: 500%;
	height: 500%;
}

.rosiernevadahover2{
	display: block;
}
.rosiernevadahover3{
	display: none;
}

.rosiernevadahover1{
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rosiernevadahover1:hover .rosiernevadahover2{
	display: none;
}
.rosiernevadahover1:hover .rosiernevadahover3{
	display: block;
}



/*Partie rajouter par etienne */




#bodyArbust{
	background: url('https://i.pinimg.com/originals/a0/01/9d/a0019da7b2dbbb681fb92a8600282f5c.png') , linear-gradient(40deg, rgba(207,219,210,1) 0%, rgba(190,238,186,1) 33%, rgba(193,219,180,1) 59%, rgba(255,255,255,1) 90%, rgba(190,223,208,1) 100%);  
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

#mainBase{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sectionBase{
	display: flex; 
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 90%;
	margin-bottom: 5%;

}
.articleBase:hover .imgBase{ display: none; }

.divBase{
	display: none;

}
.articleBase:hover .divBase{ 
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color:#cbeab0ad;
	width: 300px;
	height: 400px;
	border-radius: 20px;
	box-shadow: 3px 3px 10px black;
 }

.imgBase{
	width: 300px;
	height: 400px;
	border-radius: 20px;
	box-shadow: 3px 3px 10px black;
}

.hBase{
	font-family: 'Kanit', sans-serif;
	color: white;
	text-decoration: underline overline;
	text-transform: uppercase;
	flex:1;
	font-size: 100%;
}
.imgBase2{
	flex:5;
	width: 50%;
	height: 25%;
}

.pBase{
	width:90%;
	font-family: 'Kanit', sans-serif;
	color: white;
	background-color:#6e41286b; 
	flex:2;
	padding: 2%;
	margin-top: 2%;
	border-radius: 15px;
	text-align: justify;
	font-size: 80%;


}
.aBase{
	flex:1;
}

.aBase:hover{
	transform: rotateY(360deg);
}
a ,.footerImg{
	transition: all 1s ease-out;
}



 /*_______________PAUL PARTIE PRESENTATION______________________________*/
  /*_____________________________________________________________________*/
   /*_____________________________________________________________________*/
    /*_____________________________________________________________________*/
     /*_____________________________________________________________________*/


.presentationMain{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sectionPresentationligne{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 5%;
}
.presentationSection{
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #8c6746;
	width: 45%;
	justify-content: space-around;
	padding-bottom: 1%;
	padding-top: 1%;
	border:3px solid black;
	border-radius: 15px;
	box-shadow: 3px 3px 10px black;
}

.imgPresentation{
	width: 40%;
	height: 70%;
	border-radius: 15px;
}

.presentationArticle{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	padding-bottom: 1%;
	border-radius: 10%;
	background-color: #fefffa;
	font-family: 'Kanit', sans-serif;

}
.h1Presentation{

}
.pPresentation{
	font-size: 80%;
	width: 90%;
	margin: 0;
	text-align: justify;
	
}
.aPresentation{
	color: #91ae86;
	text-decoration: none;
	font-weight: bold;
}
.aPresentation:visited{
	color: #91ae86;
	text-decoration: none;
}

.aPresentation:active{
	color:#91ae86;
	text-decoration: none;
}
.aPresentation:hover{
	transform: rotateX(360deg);
	color:#91ae86;
	text-decoration: none;
}



